body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 40px;
}

h2, h3, h4 {
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px;


  @media(max-width: 1024px) {
    margin-bottom: 20px;
    font-size: 30px;
  }

  span {
    font-weight: 900;
  }
}

p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;

  @media(max-width: 1024px) {
    font-size: 13px;
    line-height: 22px;
  }
}

a, input, textarea {
  font-size: 16px;

  @media(max-width: 1024px) {
    font-size: 13px;
  }
}

a {
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 0;
  display: block;
  max-width: 150px;
  text-align: center;
  min-width: 210px;
  margin-top: 50px;


  @media(max-width: 1024px) {
   margin-top: 25px;
  }

  @media(max-width: 700px) {
    margin: 25px auto 0;
   }
}

button {
  display: block;
  background-image: url(../img/menu.png);
  height: 33px;
  width: 32px;
  background-color: transparent;
  border: none;
  margin-bottom: 60px;

  @media(max-width: 1024px) {
   margin-bottom: 30px;
  }
}

.span {
  // разместим span на новой строке(перенос)
  display: block;

  @media(max-width: 700px) {
    display: initial;
   }
}

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form textarea {
  width: 100%;
}

.form input, textarea {
 background-color: transparent;
 border: 1px solid #fff;
 border-radius: 10px;
 margin-bottom: 12px;
 padding: 18px 15px;
//  min-height: 124px;

@media(max-width: 700px) {
  padding: 13px;
 }
}

input {
  width: calc(48% - 30px)
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder { color: #fff;}
.form input::-moz-placeholder, .form textarea::-webkit-input-placeholder { color: #fff;}
.form input::-webkit-input-placeholder, .form textarea::-moz-placeholder { color: #fff;}
.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder { color: #fff;}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;

  @media(max-width: 700px) {
    justify-content: center;
   }

  &>li {
    margin-right: -90px;

    &>a {
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      display: block;
      border:none;
      margin-right: -50px;
      margin-top: 0;

      @media(max-width: 700px) {
        margin-bottom: 0;
       }
    }

    &>a.list-email {
      background-image: url(../img/gmail.png);
    }

    &>a.list-teleg {
      background-image: url(../img/telegram.png);
    }
  }

  @media(max-width: 700px) {
    justify-content: center;
   }
}

// .list>li>a.list-git {
//   background-image: url(../img/github.png);
// }


.logo-git {
  display: block;
  width: 90px;
  height: 90px;
  background-image: url(../img/github.png);
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-top: 20px;
  filter: invert(1);

  @media(max-width: 1024px) {
    width: 60px;
    height: 60px;
    background-size: cover;
   }

   @media(max-width: 700px) {
    margin: 15px auto 0;
   }

   &>.about {
    @media(max-width: 700px) {
      margin-top: 60px;
     }

  }
}

.grid-item-bg {
  background-image: url(../img/bg.jpg);
  grid-area: a;
}

.grid-item-gray {
  background-color: #ececec;
  grid-area: b;

  @media(max-width: 700px) {
    background-image: url(../img/bg.jpg);
    background-position:top left;
   }
}

.grid-item-blue {
  background-image:linear-gradient(45deg, #76a5c0, #1161a7),  url(../img/blue.jpg);
  background-blend-mode: multiply;
  grid-area: c;

  &>div {
    margin-bottom: 70px;

    &:last-child {

  @media(max-width: 1024px) {
   margin-bottom: 10px;
  }
    }
  }
}

.grid-item-beige {
  background-image: url(../img/beige.jpg);
  grid-area: d;

  a {
    color: #000;
    border: 1px solid #000;
  }

  @media(max-width: 700px) {
    text-align: center;
   }
}

.grid-item-black {
  background-image: url(../img/black.webp);
  grid-area: e;

  @media(max-width: 700px) {
    text-align: center;
   }
}

.grid-item-human {
  background-image: url(../img/human.jpg);
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  grid-area: f;
  min-height: 715px;


  @media(max-width: 1024px) {
   min-height: inherit;
  }

  &>p {
    margin-top: -70px;

    @media(max-width: 700px) {
      margin-top: -15px;
      margin-bottom: 30px;
     }
  }

  &>div {
    width: 100%;
  }

  @media(max-width: 700px) {
    text-align: center;
    justify-content: center;
   }
}

.grid-item-green {
  // background-image: url(../img/green.webp), linear-gradient(to right, #000, #000),;
    // background-blend-mode: multiply;
//   background-image: url(../img/green.webp), ;
background: #000 url(../img/green.webp);
// position: relative;
// background-color: #000;
  // background-color: rgba(5, 36, 6, 0.485);
// opacity: .6;
min-height: 715px;
display: flex;
align-content: space-between;
flex-wrap: wrap;
grid-area: g;

&>div {
  width: 100%;

 &>p:last-child {
  //  !!
  margin-top: 40px;
}
}

@media(max-width: 1024px) {
  min-height: inherit;
 }

 @media(max-width: 700px) {
  text-align: center;
 }
}

.form-info {
  @media(max-width: 700px) {
    margin-bottom: -30px;
   }
}

// .grid-item-green img {
//   opacity: 0.4;
// }


.grid-item-bg, .grid-item-blue, .grid-item-green, .grid-item-black, .grid-item-beige, .grid-item-human  {
  // растянуть по содержимому
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.grid-item-gray, .grid-item-blue, .grid-item-green, .grid-item-black, .grid-item-beige, .grid-item-human {
  padding: 60px 55px 70px 55px;


  @media(max-width: 1024px) {
   padding: 40px 30px;
  }


  @media(max-width: 700px) {
    padding: 30px 30px;
   }
}

.grid-item-blue, .grid-item-black, .grid-item-green, .grid-item-human {
  color: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-areas: "a a a a a a b b b"
  "c c c c d d d d d "
  "c c c c e e e e e"
  "f f f g g g g g g";

  @media(max-width: 700px) {
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
   }
}