body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 40px;
}

h2, h3, h4 {
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px;
}
@media (max-width: 1024px) {
  h2, h3, h4 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
h2 span, h3 span, h4 span {
  font-weight: 900;
}

li {
  list-style-type: none;
}

p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  p {
    font-size: 13px;
    line-height: 22px;
  }
}

.top {
  color: black;
  display: inline;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  border-radius: 50px;
}

a, input, textarea {
  font-size: 16px;
}
@media (max-width: 1024px) {
  a, input, textarea {
    font-size: 13px;
  }
}

textarea {
  resize: none;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 0;
  display: block;
  max-width: 150px;
  text-align: center;
  max-width: 150px;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  a {
    margin-top: 25px;
  }
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  background: #e4dcd7;
}
.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  outline: none;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  border: none;
  margin: 10px;
}
@media (max-width: 768px) {
  .logo {
    height: 50px;
    width: 50px;
  }
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
  margin-top: -40px;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #3f3f3f;
}

.navbar__wrap .menu > li > a:hover {
  color: rgb(63, 42, 25);
}

@media (max-width: 1024px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #3f3f3f;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}
.span {
  display: block;
}
@media (max-width: 700px) {
  .span {
    display: initial;
  }
}

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form textarea {
  width: 100%;
}

.form input, textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 18px 15px;
}
@media (max-width: 700px) {
  .form input, textarea {
    padding: 13px;
  }
}

input {
  width: calc(48% - 30px);
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #fff;
}

.form input::-moz-placeholder, .form textarea::-webkit-input-placeholder {
  color: #fff;
}

.form input::-webkit-input-placeholder, .form textarea::-moz-placeholder {
  color: #fff;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #fff;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 700px) {
  .list {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.list > li > a {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: block;
  border: none;
  margin-top: 0;
}
@media (max-width: 700px) {
  .list > li > a {
    margin-bottom: 0;
  }
}
.list > li:last-child {
  margin-left: 25px;
}
@media (max-width: 700px) {
  .list {
    justify-content: center;
  }
}

.list-email img, .list-teleg img {
  height: 40px;
  width: 40px;
}
@media (max-width: 700px) {
  .list-email img, .list-teleg img {
    height: 40px;
    width: 40px;
  }
}

.logo-git {
  display: block;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  margin-top: 20px;
  filter: invert(1);
}
@media (max-width: 1024px) {
  .logo-git {
    width: 60px;
    height: 60px;
    background-size: cover;
  }
}
@media (max-width: 700px) {
  .logo-git {
    margin: 15px auto 0;
  }
}
@media (max-width: 700px) {
  .logo-git > .about {
    margin-top: 60px;
  }
}

@media (max-width: 700px) {
  .logo-git img {
    margin-left: -80%;
  }
}

.grid-item-bg {
  background-image: url(../img/bg.jpg);
  grid-area: a;
}

.grid-item-gray {
  background-color: #ececec;
  grid-area: b;
  color: #3f3f3f;
}
@media (max-width: 700px) {
  .grid-item-gray {
    background-position: right;
    color: rgb(0, 0, 0);
  }
}
@media (max-width: 700px) {
  .grid-item-gray {
    background-image: url(../img/bg.jpg);
    background-position: top left;
  }
}

.grid-item-blue {
  background-image: linear-gradient(45deg, #76a5c0, #1161a7), url(../img/blue.jpg);
  background-blend-mode: multiply;
  grid-area: c;
}
.grid-item-blue > div {
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .grid-item-blue > div:last-child {
    margin-bottom: 10px;
  }
}

.grid-item-beige {
  background-image: url(../img/beige.jpg);
  grid-area: d;
}
.grid-item-beige > a {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
}
@media (max-width: 700px) {
  .grid-item-beige {
    text-align: center;
  }
}

.grid-item-black {
  background-image: url(../img/black.webp);
  grid-area: e;
}
.grid-item-black > a {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
}
@media (max-width: 700px) {
  .grid-item-black {
    text-align: center;
  }
}

.grid-item-human {
  background-image: url(../img/human.jpg);
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  grid-area: f;
  min-height: 715px;
}
@media (max-width: 1024px) {
  .grid-item-human {
    min-height: inherit;
  }
}
.grid-item-human > p {
  margin-top: -70px;
}
@media (max-width: 700px) {
  .grid-item-human > p {
    margin-top: -15px;
    margin-bottom: 30px;
  }
}
.grid-item-human > div {
  width: 100%;
}
@media (max-width: 700px) {
  .grid-item-human {
    text-align: center;
    justify-content: center;
  }
}

.grid-item-green {
  background: #000 url(../img/green.webp);
  min-height: 715px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  grid-area: g;
}
.grid-item-green > div {
  width: 100%;
}
.grid-item-green > h2 {
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .grid-item-green {
    min-height: inherit;
  }
}
@media (max-width: 700px) {
  .grid-item-green {
    text-align: center;
  }
}

.grid-item-bg, .grid-item-blue, .grid-item-green, .grid-item-black, .grid-item-beige, .grid-item-human {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.grid-item-gray, .grid-item-blue, .grid-item-green, .grid-item-black, .grid-item-beige, .grid-item-human {
  padding: 60px 55px 70px 55px;
}
@media (max-width: 1024px) {
  .grid-item-gray, .grid-item-blue, .grid-item-green, .grid-item-black, .grid-item-beige, .grid-item-human {
    padding: 40px 30px;
  }
}
@media (max-width: 700px) {
  .grid-item-gray, .grid-item-blue, .grid-item-green, .grid-item-black, .grid-item-beige, .grid-item-human {
    padding: 30px 30px;
  }
}

.grid-item-blue, .grid-item-black, .grid-item-green, .grid-item-human {
  color: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-areas: "a a a a a a b b b" "c c c c d d d d d " "c c c c e e e e e" "f f f g g g g g g";
}
@media (max-width: 700px) {
  .grid {
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
  }
}

/*# sourceMappingURL=style.css.map */
