* {
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 25px;
  text-align: center;
}
.content__block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.content__block > div > img {
  width: 450px;
}
.content__block > div > p {
  padding: 0 30px;
  width: 350px;
  background-color: #e4dcd7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  font-style: italic;
  font-family: fantasy;
  line-height: 40px;
  font-weight: 600;
}
.content__info {
  display: contents;
}
.content__video {
  margin-top: 25px;
  margin-bottom: 25px;
}
.content__video > p {
  font-size: 18px;
}

.photo__block {
  text-align: center;
  margin-top: 25px;
}
.photo__block > p {
  font-size: 20px;
}

.rewiews {
  margin-top: 25px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rewiews__content {
  display: flex;
  align-items: center;
}
.rewiews__container {
  background-image: linear-gradient(45deg, #76a5c0, #1161a7), url(../../img/blue.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 500px;
  height: 300px;
  border-radius: 20px 20px 0 20px;
}
.rewiews__container:last-child {
  margin-left: 20px;
}
.rewiews__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.rewiews__header, .rewiews__text, .rewiews__name {
  color: white;
  margin-top: 10px;
}
.rewiews__header > p {
  font-size: 18px;
  font-weight: 600;
}
.rewiews__name > p {
  font-family: fantasy;
  font-style: italic;
}

.back {
  color: black;
  display: inline;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  border-radius: 50px;
  margin-left: 20px;
}

.content__slider {
  background-color: #ececec;
  padding: 15px 0;
  margin-top: 25px;
}

.slider {
  position: relative;
  max-width: 680px;
  margin: 35px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name=switch] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border: 3px solid #75695f;
  background-color: #e4dcd7;
}

#btn1:checked ~ .switch label[for=btn1] {
  background-color: white;
}

#btn2:checked ~ .switch label[for=btn2] {
  background-color: white;
}

#btn3:checked ~ .switch label[for=btn3] {
  background-color: white;
}

#btn4:checked ~ .switch label[for=btn4] {
  background-color: white;
}

#btn5:checked ~ .switch label[for=btn5] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 1000%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 340px;
  float: left;
}

#btn1:checked ~ slider-inner slides {
  transform: translate(0);
}

#btn2:checked ~ .slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked ~ .slider-inner .slides {
  transform: translate(-1360px);
}

#btn4:checked ~ .slider-inner .slides {
  transform: translate(-2040px);
}

#btn5:checked ~ .slider-inner .slides {
  transform: translate(-2720px);
}

/*# sourceMappingURL=about.css.map */
